#inputText {
	width: 600px;
	margin-right: auto;
	margin-left: auto;
	padding-top: 10px;
	padding-bottom: 0px;
}

#buttons {
	padding-bottom: 20px;
	text-align: center;
	margin-right: auto;
	margin-left: auto;
	padding: 0px 15px 20px 15px;
}

.pic {
	width: 100px;
	height: 100px;
	margin-left: 0px;
	padding: 0px 5px 5px 0px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	border-radius: 10px; 
	-khtml-border-radius: 10px; 
}

#text-main {
	font-family: 'Libre Baskerville', serif;
	text-align: justify;
}

.tab-content {
	padding: 15px;
}